.forms {
    &_title {
        color: #3a3a3a;
        font-size: 28px;
        font-weight: 400;
        line-height: 23px;
        text-align: center;
    }

    &_wrapper {
        margin-top: 71px;
        background: url(../../img/форма.png);
        width: 1140px;
        height: 166px;
        
    }


    img {
        margin-top: -45px;
        margin-left: 518px;
        margin-bottom: 15px;

    }


}

#margin-bottom {
    margin-left: 162px;
    margin-bottom: 25px;
}