.manage {
    margin-top: 58px;
    padding-top: 58px;
    background: url(../../img/town_bg.png)center no-repeat;
    height: 342px;
    &_img {
        display: block;
        margin: 0 auto;
    }
    
}

#mt {
    color: #fff;
    margin-top: 20px;
}
#text {
    color: #fff;
    margin-top: 18px;
}