.title {

    margin-bottom: 20px;
    text-align: center;
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;

    &_diagram {
        text-transform: uppercase;
    }
    &_client {
        text-transform: uppercase;
    }

}

.subtitle {
    margin-top: 17px;
    color: #2e2e2e;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
}